:root {
    --primary-color: #1B4965;
    --secondary-color: #5FA8D3;
    --accent1-color: #62B6CB;
    --accent2-color: #CAE9FF;

    --heading-font: Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: var(--secondary-color);
}

header img {
    width: 120px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background: rgba(27, 73, 101, .7);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--accent2-color);
    padding: 15px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: var(--accent1-color);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    margin-left: 10px;
}